// filepath: /home/ovni/code/projeto/.gitignore
venv/
env/
ENV/

.env
*.env

# Cache Python e arquivos compilados
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Arquivos de desenvolvimento
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.sqlite3
*.db
*.db3

# Arquivos temporários
.temp/
temp/
tmp/

node_modules/
dist/
dist-ssr/
coverage/

.DS_Store
Thumbs.db